# Copie para terraform.tfvars e ajuste. O arquivo terraform.tfvars NÃO é
# versionado (ver .gitignore) porque carrega segredos.

kube_context = "minikube"
namespace    = "oficina"

banco_usuario        = "oficina"
banco_senha          = "troque-esta-senha"
banco_nome           = "oficina"
banco_tamanho_volume = "1Gi"

jwt_secret = "troque-este-segredo"
